.button {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 0;
    color: white;
    padding: 0;
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
    transition: background 0.25s;
    padding: 5px 0;
    border-radius: 5px;
}

.button:active {
    background: rgba(255, 255, 255, 0.4);
}

.button span {
    display: block;
}

.icon {
    font-size: 24pt;
}

.disabled {
    cursor: not-allowed;
    color: gray;
}
