#loader {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 4em;
    z-index: -999;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    animation: delay-z-index 0.5s;
}

@media (max-width: 1079px) {
    #loader {
        width: 2.5em;
    }
}

#loader.loading {
    visibility: visible;
    animation: roll 1s ease-in-out 0.3s;
    animation-iteration-count: infinite;
    opacity: 1;
    z-index: 30;
}

@keyframes delay-z-index {
    from {z-index: 30;}
    to {z-index: 30;}
}

@keyframes roll {
    from { transform: translateX(-50%) rotate(0turn); }
    to { transform: translateX(-50%) rotate(1turn); }
}

