#loader {
    position: fixed;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 4em;
}

@media (max-width: 1079px) {
    #loader {
        width: 2.5em;
    }
}

#loader.loading {
    visibility: visible;
    animation: roll 1s ease-in-out 0.3s;
    animation-iteration-count: infinite;
}

@keyframes roll {
    from { transform: translateX(-50%) rotate(0turn); }
    to { transform: translateX(-50%) rotate(1turn); }
}

