body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    overflow-x: clip;
}
#js-helios-viewport {
    margin: 0;
    padding: 0;
}

.demo-sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex: none;
    padding-top: 15px;
    padding-right: 10px;
    left: 10px;
    overflow-y: auto;
    max-height: calc(100vh - 15px);
}

body {
    color: white;
}

input, button, select {
    margin-bottom: 10px;
    flex: none;
}

h1.time-label {
    margin: 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    color: white;
}

.scene-time {
    text-align: center;
}

#loader {
    position: fixed;
    right: 10%;
    bottom: 15px;
}

.demo-sidebar-close {
    display: none;
}

.current-events {
    color: white;
}
