body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
#js-helios-viewport {
    margin: 0;
    padding: 0;
}

.demo-sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex: none;
    top: 15px;
    left: 10px;
    overflow-y: scroll;
    max-height: 100vh;
}

label, p {
    color: white;
}

input, button, select {
    margin-bottom: 10px;
    flex: none;
}

h1.time-label {
    margin: 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    color: white;
}

#loader {
    margin-top: -8px;
    vertical-align: middle;
}

