@media only screen and (max-width: 600px) {
    html {
        overflow-y: clip;
    }

    :root {
        --sidebar-transition-speed: 0.5s;
        --sidebar-transition-ease: ease-in-out;
    }

    .demo-sidebar-close {
        display: block;
        position: absolute;
        top: calc(150px - 30px);
        left: 50%;
        --tab-button-height: 30px;
        height: var(--tab-button-height);
        transform: translateX(-50%);
        background: white;
        color: black;
        border: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        cursor: pointer;
        transition: top var(--sidebar-transition-speed) var(--sidebar-transition-ease);
    }
    
    .demo-sidebar-close::before {
        content: "Close"
    }

    .demo-sidebar {
        border-top: 2px solid white;
        left: 0;
        --sidebar-padding: 25px;
        padding: var(--sidebar-padding);
        /* Leave enough space on both sides of the menu bar */
        width: calc(100vw - calc(var(--sidebar-padding) * 2));
        background: #333;
        transition: top var(--sidebar-transition-speed) var(--sidebar-transition-ease);
        top: 150px;
    }

    .demo-sidebar.closed {
        top: 100vh;
        top: calc(var(--vh, 1vh) * 100);
    }

    .demo-sidebar-close.closed::before {
        content: "Open"
    }

    .demo-sidebar-close.closed {
        top: calc(100vh - 30px);
        top: calc(var(--vh, 1vh) * 100 - var(--tab-button-height));
    }

    #loader {
        position: absolute;
        left: 5px;
        width: 2.5em;
        bottom: calc(var(--vh, 1vh) * 100 - 145px);
        transition: bottom var(--sidebar-transition-speed) var(--sidebar-transition-ease);
    }

    #loader.closed {
        bottom: 5px;
    }

    .helios-help-button {
        top: unset;
        right: 5px;
        position: absolute;
        bottom: calc(var(--vh, 1vh) * 100 - 145px);
        transition: bottom var(--sidebar-transition-speed) var(--sidebar-transition-ease);
    }

    .helios-help-button.closed {
        bottom: 5px;
    }
}


