@media only screen and (max-width: 600px) {
    html {
        overflow-y: clip;
    }

    :root {
        --sidebar-transition-speed: 0.5s;
        --sidebar-transition-ease: ease-in-out;
    }

    .data-source {
        padding-bottom: 15px;
    }

    .demo-sidebar-close {
        display: block;
        position: absolute;
        left: 50%;
        --tab-button-height: 48px;
        top: calc(150px - var(--tab-button-height));
        height: var(--tab-button-height);
        transform: translateX(-50%);
        background: black;
        color: white;
        border: 1px solid white;
        font-weight: bold;
        border-bottom: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        cursor: pointer;
        padding: 15px;
        transition: top var(--sidebar-transition-speed) var(--sidebar-transition-ease);
    }

    .demo-sidebar {
        border-top: 2px solid white;
        left: 0;
        --sidebar-padding: 25px;
        padding: var(--sidebar-padding);
        /* Leave enough space on both sides of the menu bar */
        width: calc(100vw - calc(var(--sidebar-padding) * 2));
        background: #333333CC;
        transition: top var(--sidebar-transition-speed) var(--sidebar-transition-ease);
        top: 150px;
        height: calc(100vh - 150px);
        padding-bottom: 15px;
    }

    .demo-sidebar.closed {
        top: 100vh;
        top: calc(var(--vh, 1vh) * 100);
    }

    .demo-sidebar-close.closed {
        top: calc(100vh - 30px);
        top: calc(var(--vh, 1vh) * 100 - var(--tab-button-height));
    }

    .helios-help-button {
        top: unset;
        right: 5px;
        position: absolute;
        bottom: calc(var(--vh, 1vh) * 100 - 145px);
        transition: bottom var(--sidebar-transition-speed) var(--sidebar-transition-ease);
    }

    .helios-help-button.closed {
        bottom: 5px;
    }
}


