.scene-time {
    background: transparent;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .scene-time {
        width: 100vw;
    }
}
