
.divider {
    width: 100%;
    min-height: 1px;
    border: none;
    background: #444;
}

.source_list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.favorite tr td:first-child {
    text-align: right;
    padding-right: 15px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}