@media (min-width: 1080px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

    .opacity_block {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
}

@media (max-width: 1079px) {
    .container {
        width: 80vw;
    }
}
