.tab {
    position: absolute;
    bottom: 80px;
    transition: bottom 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    border-top: 1px solid #ccc;
    padding-top: 50px;
    padding-bottom: 40px;
    background: rgba(0, 0, 0, 0.75);
}

.tab input, .tab select {
    width: 80vw;
    border-radius: 5px;
    padding: 0.625rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.tab .button {
    width: 80vw;
    height: 40px;
    margin-top: 15px;
}

.invisible {
    bottom: -460px;
}