.separator {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.separator p {
    margin: 0;
    background: black;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

@media (min-width: 1080px) {
    .tab {
        position: absolute;
        transition: left 0.25s;
        left: 100px;
        top: 0;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid white;
        border-left: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 25px;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.75);
        height: 355px;
        overflow-y: auto;
        z-index: 10;
        max-width: 400px;
    }

    .invisible {
        visibility: hidden;
        left: -350px;
        /** Using animation property to keep this element visible during the transition */
        animation: delayHidden 0.25s ease-in-out;
    }

    .hidden {
        display: none;
    }
}

@media (max-width: 1079px) {
    .tab {
        position: absolute;
        bottom: 80px;
        transition: bottom 0.25s;
        display: flex;
        flex-direction: column;
        width: 80vw;
        border-top: 1px solid #ccc;
        padding-top: 50px;
        padding-bottom: 40px;
        padding-left: 10vw;
        padding-right: 10vw;
        background: rgba(0, 0, 0, 0.75);
        z-index: 10;
        max-height: 60vh;
        overflow-y: auto;
    }

    .row {
        flex-direction: row;
        justify-content: space-around;
    }

    .tab .button {
        width: 80vw;
        height: 40px;
        margin-top: 15px;
    }

    .invisible {
        visibility: hidden;
        bottom: -460px;
        /** Using animation property to keep this element visible during the transition */
        animation: delayHidden 0.25s;
    }

    .hidden {
        display: none;
    }
}

@keyframes delayHidden {
    from {
        visibility: visible;
    }
    to {
        visibility: visible;
    }
}
