.tab {
    position: absolute;
    bottom: 80px;
    transition: bottom 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    border-top: 1px solid #ccc;
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 10vw;
    padding-right: 10vw;
    background: rgba(0, 0, 0, 0.75);
}

.row {
    flex-direction: row;
    justify-content: space-around;
}

.tab .button {
    width: 80vw;
    height: 40px;
    margin-top: 15px;
}

.invisible {
    visibility: hidden;
    bottom: -460px;
    /** Using animation property to keep this element visible during the transition */
    animation: delayHidden 0.25s ease-in-out;
}

.hidden {
    display: none;
}

@keyframes delayHidden {
    from { visibility: visible; }
    to { visibility: visible; }
}