.button {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 0;
    color: white;
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
    transition: background 0.25s;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.button:active {
    background: rgba(255, 255, 255, 0.4);
}

.icon {
    font-size: 24pt;
    max-width: 32px;
}

.text {
    display: block;
    font-size: 12pt;
}
